.header {
  background-color: #2d3e50;
  padding: 15px;
  margin-bottom: 2%;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

.header h2 {
  margin: 0;
	font-size: 150%;
	font-weight: normal;
}