html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: #7f8c8d;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	height: 100%;
}
